<div class="page-wrap">
  <!-- mobile -->
  <!-- Top Navigation Menu -->
  <!-- Nav -->
  <nav id="nav">
    <div id="navbar-header" class="navbar-header">
      <button type="button" class="navbar-toggle" (click)="onClick()">+++
        <span class="sr-only">Toggle navigation</span>
      </button>

    </div>
    <div id="navbar" [ngStyle]="{'transform': 'translateX(' + valueTranslateX + 'px)'}">
      <a id="closeButton" type="button" (click)="onClick()">x</a>
      <ul class="links">
        <li class="link" *ngFor="let item of links" [style.background-image]="'url(' + item.backgroundImage + ')'">
          <span>
            <a routerLink="{{item.url}}" (click)="activeLink(item.id)" routerLinkActive="active">
              <p>{{item.name}}</p>
            </a>
          </span>
        </li>
      </ul>
    </div>
  </nav>
  <!-- Main -->
  <section id="main">
    <router-outlet></router-outlet>
  </section>

</div>